<h1>Tareas Pausadas</h1>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Inicio</th>
        <th>Límite</th>
        <th>Estado</th>
        <th>Tipo</th>
        <th>Acciones</th> <!-- Columna para los botones de acción -->
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let task of taskGetLista">
        <tr *ngIf="task.estado_tarea.descripcion == 'En-progreso'">
        <td>{{ task.id }}</td>
        <td>{{ task.descripcion }}</td>
        <td>{{ task.inicio | date:'dd/MM/yyyy, h:mm a' }}</td>
        <td>{{ task.limite | date:'dd/MM/yyyy, h:mm a' }}</td>
        <td>{{ task.estado_tarea.descripcion }}</td>
        <td>{{ task.tipo_tarea.descripcion }}</td>
        <td>
          <!-- Botones de acción -->
          <button (click)="continuarTarea(task)">Continuar</button>
          <button (click)="editarTarea(task)">Editar</button>
          <button (click)="eliminarTarea(task)">Eliminar</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
