<h1>Tareas En Proceso</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Inicio</th>
      <th>Límite</th>
      <th>Estado</th>
      <th>Tipo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of taskGetLista">
      <td>{{ task.id }}</td>
      <td>{{ task.descripcion }}</td>
      <td>{{ task.inicio | date:'dd/MM/yyyy HH:mm'}}</td>
      <td>{{ task.limite | date:'dd/MM/yyyy HH:mm'}}</td>
      <td>{{ task.estado_tarea.descripcion }}</td>
      <td>{{ task.tipo_tarea.descripcion }}</td>
      <td>

        <button (click)="editarTarea(task)">Editar</button>
        <button (click)="pausarTarea(task)">Pausar</button>
        <button (click)="finalizarTarea(task)">Finalizar</button>
        <button (click)="eliminarTarea(task)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
